################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Project.Business/obj/Release
/Project.Web/obj/Release
/Project.DataAccess/obj/Release
